<!doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <title>SF Diving</title>

        <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/main.css">
        <script type="text/javascript" src="../static/main.js"></script>
    </head>

    <body>
        <div class="my-site">
            <div class="header">
                <p style="color: white; font-size: 36pt">Welcome to SF Diving!</p>
            </div>
            <div class="gnb clearfix">
                <div style="width: 10%">Main page</div>
                <div class="selected">My Info</div>
                <div>Dive Points</div>
                <div>Settings</div>
                <div>Logout</div>
            </div>
            <div class="main clearfix">
                <div class="lnb">
                    <div class="selected">My Equipments</div>
                    <div>My Certifications</div>
                </div>
                <div class="article">
                    이 div에 navigation menu에서 클릭한 contents를 하나씩 mapping하기 / js에서 inner html로 append하는 방식을 사용할 예정
                </div>
            </div>
            <div class="footer">
                <div>System Time</div>
            </div>
        </div>
    </body>

</html>
